@CHARSET "UTF-8";
body {	font-family: 굴림체; text-align: center; color: white;
		background-color: black	}
table { border: 1px solid pink; width: 100%; 
         }
tr { height: 30px; background: fuchsia; }
/* th {	background: #C9BFED;	} */
th {	background: rgb(255, 132, 193);	}
td {	background: rgb(207, 175, 205);	}