<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>JPA 회원 등록2</h1>
	<div class="container">
		<form action="/memberSave" method ="post">
<!-- 		ID: <input type="text" id="id" name="id" required="required">-->
		회원이름 : <input type="text" name="name" 	   placeholder="회원이름을 입력하세요"><p>
		회원급여 : <input type="text" name="sal" 	   placeholder="회원급여를 입력하세요"><p>
		팀 이름 : <input type="text" name="teamname" placeholder="팀이름을 입력하세요"><p>
		<button type="submit"> 등록 </button> 
		</form>
	</div> <!-- container -->
</body>
</html>