<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>JPA 2 MemberList 조회</h1>
	<div class="container">
		<div>
	    	<table border="1">
			<thead>
			<tr>
				<th>NO</th>
				<th>회원 이름</th>
				<th>팀 이름 </th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="member : ${memberList}">
				<td th:text="${member.id}"></td>
				<td><a th:href="@{/memberModifyForm(id=${member.id})}" th:text="${member.name}"></a></td>
				<td th:text="${member.team.name}"></td>
			</tr>
			</tbody>
		 </table>
		</div>
	</div> <!-- container -->

</body>
</html>